body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #f1f4f9; }
  body.overflowHidden {
    overflow: hidden; }

#upload header {
  padding: 40px 0;
  background: #fff; }
  #upload header img {
    width: 140px;
    height: auto; }

#upload .url-input {
  margin-top: 25px; }

.content-container {
  padding: 30px 0; }
  .content-container #videoFileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    .content-container #videoFileInput + .btn {
      margin-top: 20px; }

#videoPlayer {
  position: relative;
  background: #000; }
  #videoPlayer #backBtn {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    display: block;
    cursor: pointer;
    z-index: 99; }
  #videoPlayer video {
    height: 100%;
    width: 100%; }
