<!DOCTYPE html>
<html lang='en' ng-app="app">
<head>
  <meta charset='utf-8' />
  <title>Electro - the best mediaplayer ever</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>

<body ng-class="{overflowHidden: uploadSuccess}" ng-controller="appCtrl">

  <section id="upload" ng-hide="uploadSuccess" class="container-fluid">
    <header class="row">
      <div class="logo text-center">
        <img src="images/logo.png" alt="">
      </div>
    </header>

    <div class="row content-container">
      <div class="col-xs-6 col-xs-offset-3 text-center">
        <h1>Welcome to "Electro"!</h1>
        <p>You can upload or paste video url and watch videos/movies. Just click button below, upload your video and enjoy!</p>

        <input type="file" id="videoFileInput" onchange="angular.element(this).scope().playSelectedFile(this)" />

        <label class="btn btn-lg btn-primary" for="videoFileInput">
          <span class="glyphicon glyphicon-open" arria-hidden="true"></span>
          Upload File
        </label>

        <div class="input-group url-input">
             <input type="text" class="form-control" ng-model="videoUrl" placeholder="Or paste video url here">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button"  ng-click="playVideoFromUrl(videoUrl)">Play!</button>
             </span>

        </div>
      </div>
    </div>
  </section>

  <div id="videoPlayer" ng-show="uploadSuccess">
    <span id="backBtn" ng-click="goToUploadWindow()" class="glyphicon glyphicon-arrow-left"></span>
    <video controls autoplay></video>
  </div>

  <script src="js/libs/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
